@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$fontOpenSans: "Open Sans", sans-serif;
$fontMontserrat: "Montserrat", sans-serif;

$c1:#0D0221;
$c1-2:#180738eb;
$c2:#3DDC97;
$c2-2:#56ecabf4;
$c3:#FF495C;
$c3-2:#eb3447f3;
$c4:#FCFCFC;
$c4-2:#f3f0f0f0;
$c5:#757780;
$c5-2:#7d808eee;