@use '../../styles/Mixin.scss' as *;
@use '../../styles/variables.scss' as *;

.card {
    width: 30%;
    height: 45vh;
    @include flex(column, flex-start);
    border-radius: 8px;
    padding: 12px;
    gap: 12px;
    @include show;
    animation: show .3s ease-in-out forwards;
    transition: .3s ease-in-out;
    @include glassmorphism;

    @include mediaCell {
        width: 100%;
        height: fit-content;
    }

    @include mediatablet {
        width: 45%;
        height: 45vh;
        padding: 15px;
    }

    .card-description {
        height: 15vh;
        width: 100%;
        text-align: start;
        font-family: $fontMontserrat;

        @include mediaCell {
            height: fit-content;
        }

        @include mediatablet {
            font-size: 0.85rem;
        }
    }
}

.card-img_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    padding: 4px;

    @include mediatablet {
        gap: 4px;
    }
}

.card-logo__img {
    height: 7vh;
    width: 20%;
    filter: drop-shadow(0 0 5px $c1);
    object-fit: contain;
}

.card-type__wrapper {
    border-radius: 8px;
    margin-top: auto;
    padding: 12px;
    color: $c1;
    background-color: $c5;
    width: 100%;

    @include mediatablet {
        height: 7vh;
        @include flex;
    }

    p {
        @include flex(row, flex-start);
        gap: 4px;
        width: 100%;

        @include mediatablet {
            font-size: 0.8rem;
            @include flex;
        }

        @include laptopMedium {
            font-size: 0.7rem;
        }

        img {
            width: 10%;

            @include mediatablet {
                width: 15%;
            }
        }
    }
}

.card:hover {
    box-shadow: 0 0 10px $c2;
}