@use '../../styles/Variables.scss' as *;
@use '../../styles/Mixin.scss' as *;

.study-container {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 4px;
    @include mediaCell{
        width: 100%;
        padding: 0;
    }
}

