@use '../../styles/Mixin.scss' as *;
@use '../../styles/Variables.scss' as *;

.error-container {
    width: 80%;
    height: inherit;
    gap: 24px;
    @include flex(column);
    
    img {
        width: 40%;
        border-radius: 8px;
        @include mediaCell{
            width: 75%;
        }
    }

    p{
        text-align: center;
    }
}